* {
    /* background-color: gray; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 
h1{
    color: salmon;
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
    text-decoration: line-through;
    text-transform: capitalize;
    font-weight: bold;
    line-height: 10px;
    letter-spacing: 10px;

} */
/* 
h2{
    color: blue;
} */

/* p{
    color: violet;
} */

/* .Selector > h1,
.Selector > h2,
.Selector > h3,
.Selector > h4,
.Selector > p{
    color: blue;
} */


#type>h2 {
    color: rgb(92, 38, 38);
}

/* p{
    background-color: darkorange;
    background-image: url(./Assets/151059103.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */

.Container {
    width: 200px;
    height: 200px;
    background-color: violet;
    /* padding-left: 20px;
    padding-top: 100px; */
    padding: 20px 40px 60px 80px;
    /* border-top: 20px solid black;
    border-bottom: 10px solid red; */
    border: 20px solid gold;
    /* margin-left: 100px;
    margin-top: 100px; */
    margin: 30px 50px 70px 90px;
    border-radius: 30px;
}

.bluebox {
    width: 300px;
    height: 300px;
    background-color: blue;
    margin-top: 100px;
    /* position: relative; */
    position: sticky;
    top: 0;
    z-index: 100;
}

.redbox {
    width: 100px;
    height: 100px;
    background-color: red;
    /* position: fixed;
    left: 100px; */
    /* top: 50px; */
}

.box1 {
    width: 100px;
    height: 100px;
    background-color: red;
    flex: 1;
    order: 2;
}

.box2 {
    width: 100px;
    height: 100px;
    background-color: green;
    flex: 1;
    order: 3;
}

.box3 {
    width: 100px;
    height: 100px;
    background-color: blue;
    flex: 1;
    order: 1;
}

.box4 {
    width: 300px;
    height: 100px;
    background-color: yellow;
}

.box5 {
    width: 1000px;
    height: 100px;
    background-color: pink;
}

.box6 {
    width: 100px;
    height: 100px;
    background-color: darkblue;
}

.box7 {
    width: 100px;
    height: 100px;
    background-color: gray;
}

.box8 {
    width: 100px;
    height: 100px;
    background-color: salmon;
}

.box9 {
    width: 100px;
    height: 100px;
    background-color: crimson;
}

.box10 {
    width: 100px;
    height: 100px;
    background-color: darkgoldenrod;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    /* height: 500px; */
    /* border: 5px solid black; */
    align-items: start;
    /* gap: 10px; */
    flex-wrap: nowrap;
    align-content: start;
}

.para {
    background-color: blue;
    color: white;
    padding: 20px;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    /* grid-template-rows: 300px 30% 1fr; */
}

.items {
    background-color: green;
    color: white;
    font-size: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.outerbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* row-gap: 10px;
    column-gap: 40px; */
    gap: 10px;
    margin: 20px;
}

.item1 {
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-column: span 3;
}

.item2 {
    grid-row: span 3;
}

.layout>div {
    border: 1px solid black;
    background-color: #ebabac;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 900;
}

.layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas:
        " h h h h "
        " sb1 m m sb2 "
        " f f f f";
}

.header {
    grid-area: h;
}

.footer {
    grid-area: f;
}

.sidebar1 {
    grid-area: sb1;
}

.sidebar2 {
    grid-area: sb2;
}

.main {
    grid-area: m;
}

.square {
    width: 300px;
    height: 300px;
    background-color: aqua;
    transition-duration: 5s;
    transition-property: all;
    transition-timing-function: linear;
    /* transition-delay: 3s; */
}

.square:hover {
    width: 600px;
    background-color: gold;
    transform: Tra;
}

.square2{
    width: 100px;
    height: 100px;
    background-color: salmon;
    border-radius: 50%;
    animation-name: Circle;
    animation-duration: 7s;
    animation-fill-mode: forwards;  
    animation-iteration-count: infinite;
    position: relative;
}

@keyframes Circle {
    /* 10%{
        width: 150px;
        height: 150px;
        background-color: red;
    } */

    25%{
        width: 200px;
        height: 200px;
        background-color: green;
        left: 10px;
        top: 10px;
    }
    
    /* 50%{
        width: 250px;
        height: 250px;
        background-color: chartreuse;
    } */

    75%{
        width: 300px;
        height: 300px;
        background-color: deeppink;
        left: 20px;
        top: 20px;
    }

    100%{
        width: 400px;
        height: 400px;
        background-color: blue;
        top: 30px;
        left: 30px;
    }
}